<!---------------Global Header Component-----------------

must include:
 - The Client's logo
 - "main navigation" of about five (dummy) links
 - secondary "eyebrow navigation" of two or three links

---------------------------------------------------------->
<header class="global-header-wrapper">
  <!--eyebrow navigation-->
  <div class="eyebrow-nav">
    <!--search bar-->
    <div class="eyebrow-item">
      <label for="searchbar">
        <i class="fas fa-search"></i>
      </label>
      <input id="searchbar" type="text" placeholder="search">
    </div>
    <!--sign in-->
    <a class="eyebrow-item" id="sign-in">Sign In</a>
    <!--subscribe-->
    <a class="eyebrow-item" id="subscribe">Subscribe</a>
  </div>

  <div class="horizontal-line"></div>

  <!--main navigation-->
  <div class="main-nav">
    <div class="lhs" routerLink="/home">
      <!--logo-->
      <img class="logo" src="https://i.kym-cdn.com/photos/images/newsfeed/001/997/104/81c.png"
           alt="The Great Blog Logo: Bernie in Mittens" width="28px">
      <!--title-->
      <h1 class="main-title">The Great Blog</h1>
    </div>
    <div class="rhs">
      <!--5 links-->
      <a>Pop Culture</a>
      <a>Science</a>
      <a>Music</a>
      <a>Food</a>
      <a>Bernie Memes</a>
    </div>
  </div>

</header>
