/*---global header styles--*/
.global-header-wrapper {
  width: 100%;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85em;
  font-weight: 600;
  -webkit-box-shadow: 0 2px 60px 0 #f2f2f2;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 2px 60px 0 #f2f2f2;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 2px 60px 0 #f2f2f2;

  /*---eyebrow nav---*/
  .eyebrow-nav {
    display: flex;
    flex-direction: row;
    //background: #4f4f4f;
    //color: #FFF;
    align-items: center;
    justify-content: flex-end;
    padding: .5em 5em 0 0;

    .eyebrow-item, a {
      padding: .5em 4em .5em 0;
      opacity: .7;
      font-family: 'Open Sans', sans-serif;
    }

    /*---searchbar---*/
    i {
      padding-right: 1em;
    }

    input, input:focus {
      padding: .25em;
      border-radius: .5em;
      border: .5px #333333 solid;
      opacity: .7;
      outline: none;
    }
    input::placeholder, input[type="text"] {
      font-family: 'Open Sans', sans-serif;
      font-size: 1em;
      padding-left: .5em;
    }

    input::placeholder {
    }

    /*---subscribe button--*/
    #subscribe {
      //background: #C3FFC1;
      background: #bbe2fc;
      opacity: 1;
      padding: .5em 1em .5em 1em;
      color: #4f4f4f;
      border-radius: .5em;
    }
    #subscribe:active {
      transform: translateY(.5px);
    }
  }

  /*--horizonatal line--*/
  .horizontal-line {
    height: .5px;
    background: lightgray;
    margin: .5em 0 .5em 0;
    opacity: .5;
  }

  /*---main nav---*/
  .main-nav {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    align-items: center;
    justify-content: space-between;

    /*---left hand side: logo and title---*/
    .lhs:hover {
      cursor: default;
    }

    .lhs {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      font-family: 'Tajawal', sans-serif;
      font-weight: 600;
      font-size: 1.25em;

      .logo {
        margin: 1em 1em 1em 4em;
        min-width: 28px;
      }

      h1 {
        font-size: 2em;
      }
    }

    /*---right hand side: 5 links---*/
    .rhs {
      margin: -.5em 4em 0 2em;
      display: flex;
      justify-content: flex-end;
      justify-self: flex-end;

      a {
        margin-left: 2em;
        padding: 1em 1.5em 1em 1.5em;
        transition: 0.3s;
        font-size: 1em;
      }
      a:hover {
        background: #f7f7f7;
        border-radius: .8em;
      }
    }
  }
}

/*---responsive styling--*/
@media screen and (max-width: 1100px) {
  .global-header-wrapper {
    .main-nav {
      .lhs {
        align-items: center;
        padding-right: 1em;

        .logo {
        }

        h1 {
          font-size: 1.75em;
        }
      }

      .rhs {
        margin-left: 0;

        a {
          margin-left: 1em;
          padding: .75em;
        }
      }
    }
  }
}


@media screen and (max-width: 800px) {
  .global-header-wrapper {
    display: flex;
    flex-direction: column;

    .eyebrow-nav {
      padding: .5em;
      justify-content: center;

      #searchbar {
        display: none;
      }
      i:hover {
        cursor: pointer;
      }
    }

    .main-nav {
      display: flex;
      flex-wrap: wrap;
      padding: .5em;
      justify-content: center;
      flex-direction: column;

      .lhs {
        margin: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .logo {
          flex-wrap: nowrap;
          margin: .5em;
        }
        .main-title {
          padding-top: .5em;
          font-size: 1.5em;
        }
      }
      .rhs {
        margin: 0;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .global-header-wrapper {
    .main-nav {
      .rhs {
        a {
          margin: 0;
          font-size: .9em;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .global-header-wrapper {
    .main-nav {
      .rhs {
        a {
          margin: 0;
          font-size: .8em;
          padding: .5em;
        }
      }
    }
  }
}
