footer {
  width: 100%;
  background: #4f4f4f;
  text-align: center;
  display: block;

  .horizontal-line{
    height: .1px;
    opacity: .5;
    background: #ffffff;
    margin: 0 4em 0 4em;
  }

  p {
    padding: 2em;
    margin: 0;
    font-size: .9em;
    color: #ffffff;
    opacity: .7;
  }
}
