section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;

  .popular-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .tab-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 2em 0 2em 1em;

      .pop-tag {
        padding: 1em 3em 1em 3em;
        background: #f7f7f7;
        border-radius: .2em;
      }
      .pop-tag:hover {
        cursor: pointer;
      }
    }

    .articles-wrapper {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;

      .article-self {
        padding: 1em 0 1em 0;
        margin-left: -1em;
      }
    }
  }

  .vertical-line {
    width: 1px;
    background: lightgray;
  }
}


/*---responsive styles---*/
@media screen and (max-width: 1100px) {
  section {
    .popular-content-wrapper {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0;

      .tab-wrapper {
        margin: 0;
        padding: 0 0 2em 0;

        .pop-tag {
          font-size: .85em;
        }
      }

      .articles-wrapper {
        align-items: center;
        align-self: center;
        justify-self: center;
        justify-content: center;

        .article-self {
          padding: 0;
        }
      }
    }
  }
}


@media screen and (max-width: 600px) {
  section {
    padding: 0 0 0 1em;

    .popular-content-wrapper {
      align-items: center;
      justify-content: center;

      .tab-wrapper {
        display: none;

        .pop-tag {
          padding: 1em 1.5em 1em 1.5em;
        }
      }
    }
  }
}
