<!------------------Newsletter Component-------------------------

must include:
 - simple call to action to sign up for the blog's newsletter.
 - form that captures the reader's email address should suffice.
----------------------------------------------------------------->
<section>
  <div class="newsletter-wrapper">
    <form>
      <div class="call-to-action">
        <label for="newsletter-email">Stay in Touch!</label>
        <p>Get updates on straight to your inbox.</p>
      </div>
      <div class="form-input">
        <input type="email" id="newsletter-email" placeholder="email">
        <input type="submit" id="newsletter-submit" value="Subscribe">
      </div>
    </form>
  </div>
</section>
