section {
  padding: 0 4em 0 3em;

  .pop-archive {
    display: flex;
    flex-direction: row;
    padding: 0 0 4em 4em;

    app-popular-content {
      display: flex;
      flex: 78%;
      justify-content: center;
      align-items: center;
    }

    app-archive {
      display: flex;
      flex: 22%;
      justify-content: center;
      align-items: flex-start;
      position: -webkit-sticky;
      position: sticky;
      top: 4em;
      align-self: flex-start;
    }
  }
}


/*---responsive styling---*/
@media screen and (max-width: 1100px) {
  section {
    padding: 0 2em 0 2em;

    app-popular-content {
      display: flex;
      flex: 0 1 auto;
      align-self: center;
      justify-self: center;
      align-items: center;
      justify-content: center;
      padding-bottom: 2em;
    }

    app-archive {
      display: flex;
      flex: 0 1 auto;
      align-self: center;
      justify-self: center;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 0;
    }
    //}
  }
}

@media screen and (max-width: 700px) {
  section {
    app-popular-content {
      position: relative;
    }

    app-archive {
      position: relative;
      padding-left: 1em;
      top: 0;
    }
  }
}
