.pop-archive {
  display: flex;
  flex-direction: row;
  padding: 0 6em 4em 6em;

  app-popular-content {
    display: flex;
    flex: 78%;
  }

  app-archive {
    display: flex;
    flex: 22%;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
    align-self: flex-start;
  }
}
