/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;

  body {
    margin: 0;
    color: #333;
    font-family: 'Tajawal', sans-serif;
    vertical-align: center;
    background: #FFFFFF;

    h1 {
      font-size: 2em;
    }

    a, a:active, a:focus, p {
      text-decoration: none;
      color: #333;
      line-height: 1.5em;
      vertical-align: center;
    }

    a:hover {
      cursor: pointer;
    }
  }
}
