.section-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 4em 0 4em;

  .main-row {
    display: flex;
    flex-direction: row;
    padding: 2em 2em 0 2em;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .middle-col {
      display: flex;
      flex: 52%;
      justify-content: center;
    }

    .left-col, .right-col {
      display: flex;
      flex: 24%;
      flex-direction: column;
      justify-content: space-between;
    }

    .article-container {
      padding: 1em;
    }
  }
}

/*--horizonatal line--*/
.horizontal-line {
  height: .5px;
  background: lightgray;
  margin: 2em 0 2em 0;
}

/*---responsive layout beyond flexbox--*/
@media screen and (max-width: 880px) {
  .section-wrapper {
    padding: 0 2em 0 2em;

    .main-row {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .left-col, .middle-col, .right-col {
        align-items: center;
      }
    }
  }
}

